apiVersion: v1
kind: ServiceAccount
metadata:
  name: rcabench-sa
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rcabench-role
  namespace: default
rules:
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["create", "get", "list", "watch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: rcabench-rolebinding
  namespace: default
subjects:
- kind: ServiceAccount
  name: rcabench-sa
  namespace: default
roleRef:
  kind: Role
  name: rcabench-role
  apiGroup: rbac.authorization.k8s.io
